build/
dist/
packages/
experiments/
__pycache__/
*.bat
*.swp
*.orig
*.pyc
.coverage
.DS_Store
test.py
graphs/
docs/build
docs/source/veerer_demo.ipynb
veerer.egg-info/*
*.ipynb
.ipynb_checkpoints/
MANIFEST
veerer/permutation.c
veerer/permutation.*.so
